@media (min-width: 320px) and (max-width: 766px) {
  .center {
    padding-left: calc(50% - $widthMob / 2);
    padding-right: calc(50% - $widthMob / 2);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 20px;
  }

  .nav-button {
    width: 45%;
  }

  .form {
    margin-bottom: 30px;
  }

  .buttons {

    &__count {
      width: 75%;
    }

    &__clear {
      width: 20%;

      span {
        display: none;
      }

      svg {

      }
    }
  }
}