@import "vars";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: lavender;

  h1 {
    text-align: center;
  }
}

.center {
  padding-left: calc(50% - $widthSite / 2);
  padding-right: calc(50% - $widthSite / 2);
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.general-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__attr {
    padding: 3px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 300px;
  }
}

.dims {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 3px;

    h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #5D5D5D;
    }

    input {
      width: 80px;
      padding: 3px;
      border: 1px solid #000;
      border-radius: 5px;
    }
  }

  &__size {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: black;
  }
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__item {
    width: 308px;
    padding: 3px;
    border: 1px solid #000;
    border-radius: 5px;
  }

  p {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: black;
  }
}

.error-text {
  color: red;
}

.button {
  width: 308px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  transition-duration: 0.3s;

  &:hover {
    color: white;
    background-color: #5D5D5D;
    cursor: pointer;
  }

}

.reference {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.final-cost {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 5px;
  padding-right: 5px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 5px;

    p {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #5D5D5D;
    }
  }
}

.last-mile {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@import "mediaTab";
@import "mediaMob";